.Box {
    text-align: center;
    border: 1px solid #000;
    margin-top: 50px;
    width: 60%;
    min-height: 50vh;
    border-radius: 5px;
    display: inline-block; 
    background-color: #f4f3ee;
}

.List {
    
    text-align: left;
    list-style: none;
    font-size: medium;
    border-radius: 5px;
    padding: 5px;
}

ul {
        margin: 15px;
        padding-left: 5px;
}