.Edit {
    position: absolute;
    right: 25.5%;
    width: 80px;
    height: 2.5vh;
    font-size: small;
    border-radius: 5px;
    border: 2px solid slategrey;
    cursor: pointer;

}

.Delete {
    position: absolute;
    right: 22%;
    width: 60px;
    height: 2.5vh;
    font-size: small;
    border-radius: 5px;
    border: 2px solid slategrey;
    cursor: pointer;
    align-items: right;
    justify-items: right;
    justify-content: right;

}

li {
    list-style: none;
    text-align: left;
    background-color:rgb(168, 189, 191, .25);
    margin-bottom: 10px;
    font-size: large;
    border-radius: 50px;
    padding-left: 15px;
}

.Check{
  
}

.text{
    margin-left: 5px;
}