* {
  text-align: center;
}

.Input {
  text-align: left;
  padding-left: 15px;
  border: 2px solid slategrey;
  width: 50%;
  height: 5vh;
  font-size: medium;
  border-radius: 5px;
}

.Button {
  width: 8%;
  height: 5vh;
  font-size: medium;
  margin-top: 50px;
  margin-left: 25px;
  border-radius: 5px;
  border: 2px solid slategrey;
  cursor: pointer;
}

.errors {
  color: brown;
  font: bold;
  font-size: large;
}
